:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  
}


.sectionAulas {
  color: rgb(255, 255, 255);
  background-color: rgba(255, 255, 255, 0.199);

  border-radius: 10px;

  padding: 20px;
  
  border: 1px solid white;

  margin: 10px 0;
}

.CodigosTerminal {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

ul {
  list-style: none;
}

div {
  margin: 10px;
}

h2 {
  padding: 0px 5px;
  border-left: 3px solid rgb(255, 0, 0);
  display: inline-block;
}

img {
  border-radius: 10px;

  width: 100%;
}

hr {
  margin: 30px 0;

}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

input {
  background-color: rgb(150, 150, 150);

  padding: 10px;
  border-radius: 5px;
  gap: 10px;

  display: flex;

  margin: 0 auto;

  outline: none;

  text-transform: capitalize;
}

input::placeholder {
  color: rgb(63, 63, 63);
}

button {
  border-radius: 8px;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #f55e5e;
  cursor: pointer;
  transition: border-color 0.25s;
  color: rgb(240, 240, 240);
  border: 1px solid rgba(0, 0, 0, 0.356);
  font-variant: small-caps;
}

.btn-react {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}
